/src/1026_boxes.csv
/src/1026_capsule.csv
/src/1026_capsule_test.csv
/src/1026_cube.csv
/src/1105.csv
/src/1106_rotate.csv
/src/1106_rotate_test.csv
/src/1106_rotate_train.csv
/src/1110_translate_test.csv
/src/1110_translate_train.csv
/src/1113_translate_onmesh_test.csv
/src/1113_translate_onmesh_train.csv
/src/1116_translate_onmesh_test.csv
/src/1116_translate_onmesh_train.csv
